/* Css reset can be found here: https://www.joshwcomeau.com/css/custom-css-reset/*/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Project CSS */

.roboto-text {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 0 20px 0 20px;
}

::backdrop {
  opacity: 0.5;
}

.header {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(13, 118, 209);
  padding: 10px 10px 20px 10px;
  justify-content: space-between;
  color: white;
}

#show-dialog {
  background-color: rgb(13, 118, 209);
  border: none;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
}

#show-dialog:hover {
  color: rgb(13, 118, 209);
  background-color: white;
}

.header > div {
  display: flex;
}

img {
  height: 50px;
  width: 50px;
  filter: brightness(0) invert(1);
}

.container {
  background-color: rgb(180, 180, 180);
  align-items: start;
}
